@import '../../mixins/media.scss';

.grid {
    margin-bottom: 80px;
    @include for-size (smallMob) {
        text-align: center;
    }
    // .grid__title

    &__title {
        margin-bottom: 48px;
    }

    // .grid__content

    &__content {}

    &__content:not(:last-child) {
        margin-bottom: 64px;
    }
}

.content {

    // .content__list-title

    &__list-title {
        font-weight: 700;
        margin-bottom: 32px;
    }

    // .content__list-img

    &__list-img {
    }
}

.list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    @include for-size(tab) {
        grid-template-columns: repeat(2, 1fr);
    }
    // .list__item

    &__item {
        margin-bottom: 48px;
    }

    // .list__item-name

    &__item-name {
    }

    // .list__item-meaning

    &__item-meaning {
        padding-top: 8px;
    }
}