@import '../../style/mixins/media.scss';

.App {
  background: #F2F2F2;

  //App__menu
  &__menu {
    margin: auto;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 2000;
    transform: scale(0);
    transition: .2s all ease;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  .App__menu.show {
    display: block;
    transform: scale(1);
    transition: .3s all ease;
  }

  //App__container
  &__container {
    max-width: 1440px;
    height: 100vh;
    padding: 32px 64px 48px 64px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 32px;

    .header {
      grid-column: 1 / all;
    }

    main {
      grid-column: 1 / all;
      display: grid;
      grid-template-columns: inherit;

      .main__menu {
        grid-column: 1 / 3;
      }

      .main__content {
        grid-column: 4 / all;
        width: 100%;
      }
    }

    .footer {
      grid-column: 1 / all;
    }

    @include fontsDesktop;
  }
}

@include for-size(tab) {
  .App {
    &__container {
      grid-template-columns: repeat(8, 1fr);
      padding: 64px 32px 48px 32px;

      main {  
        .main__menu {
          display: none;
        }
  
        .main__content {
          grid-column: 1 / all;
        }
      }
    }
  }
}

@include for-size(mob) {
  .App {
    &__container {
      grid-template-columns: repeat(4, 1fr);
      padding: 32px 16px 48px 16px;
      @include fontsMob;

      main {
        .main__content {
          grid-column: 1 / all;
        }
      }
    }
  }
}

@include for-size(smallMob) {
  .App {
    &__container {
      display: flex;
      flex-direction: column;
      padding: 16px;
    }
  }
}