@import '../../style/mixins/media.scss';

.typography {
    margin-bottom: 80px;
    // .typography__subtitle

    &__title {
        margin-bottom: 48px;
        @include for-size(smallMob) {
            text-align: center;
        }
    }
}

.tabsBar {

    // .tabsBar__tabs

    &__buttons {
        display: flex;
        border-bottom: 1px solid #CBCBCC;
        margin-bottom: 48px;
        @include for-size (smallMob) {
            justify-content: center;
        }
    }

    // .tabsBar__tabs-btn

    &__tabs-btn {
        margin-right: 32px;
        padding-bottom: 14px;
        color: #7D7D7D;
        cursor: pointer;
    }
}

.btnActive {
    border-bottom: 2px solid #3E29E3;
    color: #1B1B1B;
    font-weight: 500;
}

.content {

    // .content__item

    &__item {
        display: none;
    }

    &__item.desktop{
        @include fontsDesktop;
    }

    &__item.mobile {
        @include fontsMob;
    }
}

.tabActive {
    display: grid;
    grid-gap: 32px;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 48px;
    @include for-size(mob) {
        grid-gap: 12px;
    }
}

.item {

    // .item__row-name

    &__row-name {
        color: #7D7D7D;
    }
}
