@import '../../../../mixins/media.scss';
.checkboxs {
    display: grid;
    grid-template-columns: repeat(auto-fit, 344px);
    grid-gap: 32px;
    margin-bottom: 32px;
    @include for-size(smallMob) {
        grid-template-columns: repeat(1, 1fr);
    }

    // .checkboxs__item

    &__item {
    }
}

.checks {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-bottom: 24px;

    &:hover {
        .checks__fake {
            border: 2px solid #3E29E3;
            transition: .3s linear;
        }
    }

    // .checks__input

    &__input {
        display: none;

        &:checked+.checks__fake {
            background-color: #3E29E3;
            border: 2px solid #3E29E3;
        }

        &:checked+.checks__fake::after {
            opacity: 1;
        }
    }

    // .checks__fake

    &__fake {
        position: relative;
        width: 24px;
        height: 24px;
        border: 2px solid #AEADAE;
        cursor: pointer;
        transition: .3s linear;

        &:hover {
            border: 2px solid #3E29E3;
        }

        &::after {
            position: absolute;
            content: '';
            width: 14px;
            height: 10px;
            background: url('../../../../images/ui/checkbox/check.svg') no-repeat center/cover;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            opacity: 0;
            transition: .3s linear;
        }
    }

    // .checks__name

    &__name {
        margin-left: 16px;
    }
}

.checks {
    &:hover {
        .checks__input:disabled~.checks__fake {
            border: 2px solid #AEADAE;
        }
    }
}

.circles {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-bottom: 24px;


    &:hover {
        .circles__fake {
            border: 2px solid #3E29E3;
            transition: .3s linear;
        }
    }

    // .circles__input

    &__input {
        display: none;

        &:checked+.circles__fake {
            border: 2px solid #3E29E3;
        }

        &:checked+.circles__fake::after {
            opacity: 1;
        }
    }

    // .circles__fake

    &__fake {
        position: relative;
        width: 24px;
        height: 24px;
        border-radius: 100%;
        border: 2px solid #AEADAE;
        cursor: pointer;
        transition: .3s linear;

        &::after {
            position: absolute;
            content: '';
            width: 12px;
            height: 12px;
            background: #3E29E3;
            border-radius: 100%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            opacity: 0;
            transition: .3s linear;
        }
    }

    // .circles__name

    &__name {
        margin-left: 16px;
    }
}

.circles {
    &:hover {
        .circles__input:disabled~.circles__fake {
            border: 2px solid #AEADAE;
        }
    }
}