@import '../../../../style/mixins/media.scss';
.textField {
    display: grid;
    grid-template-columns: repeat(auto-fit, 280px);
    grid-column-gap: 32px;
    align-items: flex-end;
    margin-bottom: 64px;
    @include for-size (tab) {
        display: grid;
        grid-template-columns: repeat(auto-fit, 280px);
        grid-column-gap: 32px;
    }
    @include for-size (mob) {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-column-gap: 32px;
    }

    // .textField__item

    &__item {
        position: relative;
        display: flex;
        flex-direction: column;
        margin-right: 32px;
        cursor: pointer;
        margin-bottom: 48px;
        border-bottom: 2px solid #AEADAE;

        &:hover {
            border-color: #3E29E3;
        }

        &:focus-within {
            border-color: #3E29E3;
        }

        .activeInput~.textField__item-prompt {
            opacity: 0;
        }

        &_hover {
            border-color: #3E29E3;
        }
    }

    &__item.notValid {
        border-color: #E80F3B;

        .textField__item-error {
            opacity: 1;
        }
    }

    // .textField__item-input

    &__item-input {
        outline: none;
        border: none;
        background: #F2F2F2;
        border-bottom: 2px solid #F2F2F2;
    }

    &__item-input.activeInput {

        &:focus {
            border-color: #3E29E3;
            transition: border-color .3s linear;
        }

        &:focus~.textField__item-prompt {
            bottom: 32px;
            font-size: 12px;
            transition: .3s all ease;
            color: #7D7D7D;
            opacity: 1;
        }
    }

    &__item-input.notValid {
        border-color: #E80F3B;

        &:focus {
            border-color: #E80F3B;
            transition: border-color .3s linear;
        }

        &:focus~.textField__item-prompt {
            bottom: 32px;
            font-size: 12px;
            transition: .3s all ease;
            color: #E80F3B;
            opacity: 1;
        }
    }

    // .textField__item-prompt

    &__item-prompt {
        position: absolute;
        font-size: 16px;
        line-height: 20px;
        color: #1B1B1B;
        bottom: 4px;
        opacity: 1;
        left: 0;
        transition: .3s all ease;
    }

    // .textField__item-error

    &__item-error {
        position: absolute;
        font-size: 14px;
        line-height: 20px;
        color: #E80F3B;
        opacity: 0;
        bottom: -26px;
        transition: .3s all ease;
    }

    // .textField__item-title

    &__item-title {
        font-size: 14px;
        line-height: 20px;
        color: #7D7D7D;
        margin-bottom: 40px;
    }

    //for non-interactive
    &__item.error {
        .textField__item-input {
            border-color: #E80F3B;
        }

        .textField__item-prompt {
            bottom: 32px;
            font-size: 12px;
            transition: .3s all ease;
            color: #E80F3B;
            opacity: 1;
        }
    }

    &__item.focus {
        border-color: #3E29E3;

        .textField__item-prompt {
            bottom: 32px;
            font-size: 12px;
            transition: .3s all ease;
            color: #7D7D7D;
            opacity: 1;
        }

        .textField__item-input {
            border-color: #3E29E3;
        }
    }
}