//media queries
@mixin for-size($size) {
    @if $size ==desktop {
        @media (max-width: 1440px) {
            @content;
        }
    }

    @if $size ==tab {
        @media (max-width: 768px) {
            @content;
        }
    }

    @if $size ==mob {
        @media (max-width: 424px) {
            @content;
        }
    }

    @if $size==smallMob {
        @media (max-width: 320px) {
            @content;
        }
    }
}

//fonts
@mixin fontsDesktop {
    h1 {
        font-size: 48px;
        line-height: 56px;
        font-weight: bold;
    }

    h2 {
        font-size: 32px;
        line-height: 40px;
        font-weight: bold;
    }

    h3 {
        font-size: 24px;
        line-height: 32px;
        font-weight: 600;
    }

    h4 {
        font-size: 18px;
        line-height: 28px;
        font-weight: 600;
    }

    h5 {
        font-size: 24px;
        line-height: 32px;
        font-weight: 400;
    }

    h6 {
        font-size: 18px;
        line-height: 28px;
        font-weight: 400;
    }

    p {
        font-size: 16px;
        line-height: 24px;
    }

    span,
    li {
        font-size: 14px;
        line-height: 20px;
        font-weight: 400;
        color: #7D7D7D;
    }
}

@mixin fontsMob {
    h1 {
        font-size: 32px;
        line-height: 40px;
        font-weight: bold;
    }

    h2 {
        font-size: 28px;
        line-height: 36px;
        font-weight: bold;
    }

    h3 {
        font-size: 20px;
        line-height: 28px;
        font-weight: 600;
    }

    h4 {
        font-size: 18px;
        line-height: 28px;
        font-weight: 600;
    }

    h5 {
        font-size: 20px;
        line-height: 28px;
        font-weight: 400;
    }
}