.accordion {
    width: 100%;
    margin-bottom: 160px;
    // .accordion__item

    &__item {
        margin-bottom: 24px;
        cursor: pointer;
        border-bottom: 1px solid #CBCBCC;

        &:hover {
            border-bottom: 1px solid #3E29E3;
        }

        &_hover {
            border-bottom: 1px solid #3E29E3;
        }
    }

    // .accordion__title

    &__title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 15px;

        &:hover>.accordion__title-name {
            color: #1B1B1B;
        }
    }

    // .accordion__title-name

    &__title-name {
        font-weight: 500;
        color: #7D7D7D;

        &_hover {
            color: #1B1B1B;
        }
    }

    // .accordion__title-img

    &__title-img {
        width: 9px;
        height: 6px;
        background: url('../../../../images/ui/arrow-down.svg');
        transition: .3s ease all;
    }

    // .accordion__item-content

    &__item-content {
        max-height: 0;
        overflow: hidden;
        transition: all .2s cubic-bezier(0.39, 0.58, 0.57, 1);;
        
    }

    // .accordion__item-text

    &__item-text {
        display: none;
    }

    &__item.open {
        margin-bottom: 24px;
        cursor: pointer;
        border-bottom: 1px solid #3E29E3;

        .accordion__title {
            .accordion__title-name {
                color: #3E29E3;

                &:hover {
                    color: #3E29E3;
                }
            }
        }

        .accordion__title-img {
            transform: rotate(180deg);
            transition: .3s ease all;
        }

        .accordion__item-content {
            height: auto;
            max-height: 100%;
            padding: 24px 0 30px 0;
            transition: all .2s ease;
        }

        .accordion__item-text {
            display: block;
            width: 100%;
        }
    }
}