@import '../../mixins/media.scss';
.mainTop {
    @include for-size (smallMob) {
        text-align: center;
    }
    // .mainTop__title

    &__title {
        margin-bottom: 64px;
    }

    // .mainTop__title-title

    &__title-title {
        padding-bottom: 16px;
    }

    // .mainTop__title-subtitle

    &__title-subtitle {
    }

    // .mainTop__description

    &__description {
        margin-bottom: 80px;
    }

    // .mainTop__title-text

    &__title-text {
    }
}