.mainTop {
    // .mainTop__title

    &__title {
        margin-bottom: 64px;
    }

    // .mainTop__title-title

    &__title-title {
        font-size: 48px;
        line-height: 56px;
        padding-bottom: 16px;
    }

    // .mainTop__title-subtitle

    &__title-subtitle {
        font-size: 24px;
        font-weight: 400;
        line-height: 32px;
    }

    // .mainTop__description

    &__description {
        max-width: 592px;
        margin-bottom: 80px;
    }

    // .mainTop__title-text

    &__title-text {
        font-size: 16px;
        line-height: 24px;
    }
}