@import '../../style/mixins/media.scss';
.mainTop {
    margin-bottom: 80px;
    @include for-size (smallMob) {
        text-align: center;
    }
    // .mainTop__title

    &__title {
        margin-bottom: 64px;
    }

    // .mainTop__title-title

    &__title-title {
        padding-bottom: 16px;
    }
}